/* Colour Scheme: http://paletton.com/#uid=62U0u0kaVz84jP27qHbeJtFiHpX */

$main: #317746;
$main_dark: darken($main, 20%);
$main_bg: #eeeeee;
$main_greyed: #b6c4b3;

$alt_1_dark: #377280;

$white_text: $main_bg;
$black_text: #333;
