.question {
    padding: 0.5em;
    font-size: 2em;
}

.answerBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.advicePage {
    display: grid;
    grid-template-rows: auto 4em;
}

.adviceBox {
    height: calc(100vh - 4em);
    overflow-y: scroll;
    padding: 0.5em;

    font-size: 1.5em;
}
