.button {
    border: #000066 solid 2px;
    background-color: #a79dc1;
    margin: 0.5em;
    min-width: 25%;
    padding: 0.25em 0.8em;
    text-align: center;
    font-size: 1.4em;

    border-radius: 0.5em;

    position: relative;
    overflow: hidden;
}

.button:before {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: calc(0.25em * 2 + 1em);
    padding-left: 150%;

    opacity: 0;
    transition: all 0.5s ease-out;
}

.button:active:before {
    padding-left: 0;
    opacity: 1;
    transition: 0s;
}

.subtleButton {
    border: black 0 none;
    background-color: #efefef;
    color: #a79dc1;
    margin: 0.5em;
    min-width: 25%;
    padding: 0.25em 0.8em;
    text-align: center;
    font-size: 1.4em;

    border-radius: 0.5em;

    position: relative;
    overflow: hidden;
}

.subtleButton:before {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: calc(0.25em * 2 + 1em);
    padding-left: 150%;

    opacity: 0;
    transition: all 0.5s ease-out;
}

.subtleButton:active:before {
    padding-left: 0;
    opacity: 1;
    transition: 0s;
}
